--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
cohere
pinecone
pinecone-client
PyMuPDF
langchain-text-splitters
python-dotenv
pinecone-text
sentence-transformers
langchain-community
langchain-google-genai
langchain-cohere